table {
  width: 100%;
}

th, td {
  padding: 4px;
}

.logo {
  padding: 20px 0;
}

.text-center {
  text-align: center;
}

ul {
  list-style-type: none;
}

ul > li {
  padding-left: 15px;
  margin: 0;
}